form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	::ng-deep .mat-focused .mat-form-field-label {
		color: #c8ff55 !important;
	}

	::ng-deep.mat-form-field-underline {
		background-color: #fff !important;
	}

	::ng-deep.mat-form-field-ripple {
		background-color: #c8ff55 !important;
	}

	::ng-deep .mat-form-field-infix {
		color: #fff !important;
	}

	::ng-deep mat-form-field input {
		caret-color: #c8ff55 !important;
	}
}
